:root {
    --colourActive: #ae033f;
    --colourHover: #e20049;
    --colourDefault: #ff2c63;
    --colourDisabled: #ff9bb0;
}
* {
    font-family:Arial, Helvetica, sans-serif;
}

/* Modal systems visuals */
.modal {
    --gap: 16px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0,0,0,0.5);
    background-attachment: fixed;
    background-size: cover;
}
.modalInner {
    background: #ffeed0;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    font-size: 20px;
}
.modalTop {
    display: flex;
    align-items: center;
    background-color: #f79f24;
}
.modalTitle {
    flex-grow: 1;
    padding: 0 var(--gap);
    font-size: 24px;
    border-style: outset;
    border-color: #f79f24;
    background: linear-gradient(175deg, transparent, rgba(0,0,0,0.2) 100%);
    text-align: center;
    color: #ffeed0;
}
.modalClose {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--gap);
    background: none;
    border: none;
    outline: none;
}
.modalContent {
    padding: var(--gap);
    line-height: 1.5;
    overflow-y: scroll;
    max-height: 300px;
}
.modalBottom {
    text-align: right;
    padding: 0 var(--gap) var(--gap) var(--gap);
}
.modalInput {
    display: flex;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 16px;
}
.modalButton {
    background-color: transparent;
    color: #ff2c63;
    border: #ff2c63;
    border-color: #ff2c63;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    overflow:visible;
    transition: box-shadow 0.2s;
    font-weight: 600;

    &:hover:not(:disabled) {
        border-color: var(--colourHover);
        color: var(--colourHover);
        box-shadow: 3px 3px 10px rgba(226,0,73,0.25);
    }
    &:active {
        background-color: var(--colour1);
        color: var(--colourActive);
        border-color: var(--colourActive);
    }
    &:focus {
        background-color: var(--colour1);
    }
    &:disabled {
        color: var(--colourDisabled);
        border-color: var(--colourDisabled);
    }
}
.modalButton:not(:last-child) {
    margin-right: var(--gap);
}


/* Message systems visuals */
.message {
    --gap: 8px;

    position: fixed;
    width: 100vw;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.messageInner {
    max-width: 800px;
    text-align: center;
    font-size: 20px;
    padding: var(--gap);
    color: #ffeed0;
    border: 3px outset #ff2c63;
    background: linear-gradient(170deg, transparent, rgba(0,0,0,0.2) 100%);
    background-color:#ff2c63;
}